body {
    margin: 0;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #0C4A6E;
    font-family: Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

.new-game-btn {
    border: 4px solid #9AABD8;
    padding: 20px 20px;
    font-weight: bold;
    font-size: 30px;
    color: #9AABD8;;
}

.new-game-btn:hover {
    border: 4px solid #3368e7;
}

.guest-title, .home-title {
    color: white;
    font-size: 50px;
}

.points {
    background: black;
    padding: 120px 155px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 120px;
    margin-bottom: 26px;
    margin-top: 21px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.points-container {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: bold;

}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.points-btn {
    border: 4px solid #9AABD8;
    padding: 20px 20px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #9AABD8;
}

.points-btn:hover {
    border: 4px solid #3368e7;
}
